*{
    margin: 0;
    padding: 0;
    text-align: left;
}
.MenuPrincipal ul{
    list-style-type: none;
}
.MenuPrincipal li {
    float:left;
    position: relative;
    background-color: var(--ColorFondo);
    width: var(--Ancho);
}
.MenuPrincipal > ul > li{
    text-align: center;
}
.MenuPrincipal a {
    text-decoration: none;
    color: var(--ColorTexto);
    font-family: var(--Fuente);
    font-weight: 700;
    font-size: 12px;
    line-height: 32px;
    padding: 10px 15px;
}
.MenuPrincipal ul ul {
    display: none;
    position: absolute;
}
.MenuPrincipal ul li:hover{
    background-color: var(--ColorHover);
}
.MenuPrincipal ul li:hover > ul{
    display: block;

}
.MenuPrincipal ul ul ul {
    top: 0px;
    left: 100%;
}